[submodule "thirdparty/file"]
	path = thirdparty/file
	url = https://github.com/xybu/file
[submodule "thirdparty/suricata"]
	path = thirdparty/suricata
	url = git@github.com:xybu/suricata.git
[submodule "thirdparty/hyperscan"]
	path = thirdparty/hyperscan
	url = git@github.com:xybu/hyperscan.git
[submodule "thirdparty/afl"]
	path = thirdparty/afl
	url = git@github.com:mirrorer/afl.git
